<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header class="">
      <h1>Food Tastic</h1>

      <nav id="mobile" class="hide">
        <a href="#">Home</a>
        <a href="#">Favorite</a>
        <a href="#">About Us</a>
      </nav>

      <nav id="desktop">
        <a href="#">Home</a>
        <a href="#">Favorite</a>
        <a href="#">About Us</a>
      </nav>

      <button id="burger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </header>
    <div class="hero-background">
      <div class="hero-content">
        <div class="content">
          <p>Welcome to</p>
          <h2>Food Tastic</h2>
          <button>More</button>
        </div>
        <div class="scroll-container">
          <span class="scroll-down-txt">Scroll down</span>
          <svg class="scroll-down-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
          </svg>
        </div>
      </div>
    </div>
    <div class="test"></div>
  </body>
</html>
