@media screen and (max-width: 767px) {
  header nav#desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  header h1 {
    font-size: 40px;
  }
  header button {
    display: none;
  }
  header nav.mobile {
    display: none;
  }
  header nav#desktop {
    display: block;
  }
  header nav#desktop a {
    font-size: 20px;
  }
  /* ---- */

  /* Banner / Hero */
  .hero-content .content p {
    font-size: 30px;
  }
  .hero-content .content h2 {
    font-size: 90px;
  }
  /* ---- */

  /* Restaurant List */
  .restaurant-list {
    grid-template-columns: 1fr 1fr;
  }
  /* ----- */
}

@media screen and (min-width: 1280px) {
  /* Restaurant List */
  .restaurant-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* ----- */
}
